/* style.css */


.main1{
    width:100%;
    max-width: 100%;
    min-width: 50%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
}

.main1_image{
    width:100%;
}

.main1_image>img{
    width:100%;
}


header{
    width:100%;
    height:120px;
    background-color:#065e84;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}


.logo{
    width:10%;
    height:auto;
}


.logo>img{
    width:50%;
}


.caption1{
    width:30%;
    height:auto;
    color:white;
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu_buttons{
    width:50px;
    height:50px;
}

nav{
    width:50%;
    height:auto;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

nav>li{
    list-style-type: none;
}


nav a{
    text-decoration: none;
    color:white;
    font-size:20px;
    font-weight: bold;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.content1{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.caption2{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content1_blocks{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.content1_block{
    width:25%;
    height:auto;
    box-shadow: 2px 2px 3px #2a8ab4;
    border-radius: 10px;
}


.content1_block:nth-child(1) img{
    width:79%;
}


.content1_block:nth-child(2) img{
    width:100%;
}




.content1_block:nth-child(3) img{
    width:94%;
}

.show_btn{
    margin-bottom:10px;
}

footer{
    width:100%;
    height:100px;
    background-color: #065e84;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:40px;
}


.info{
    width:30%;
    font-size:20px;
}

.info_author{
    width:40%;
    font-size:20px;
    font-style: italic;
}

.toggle{
    color:white;
    top:30px;
    left:30px;
    font-size:30px;
    display:none;
  }
  
  .toggle:hover{
    cursor:pointer;
  }
  
  .close{
    color:white;
    top:24px;
    left:30px;
    font-size:50px;
    display:none;
  }
  
  .close:hover{
    cursor:pointer;
  }

/* media queries */

@media only screen and (max-width: 600px) {
    .content1_blocks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content1_block{
        width:70%;
        height:auto;
        margin-top:30px;
    }

    .info_author{font-size:16px;}
    .info{font-size: 14px;}

    .caption1{
        font-size: 16px;
        margin-left:-10%;
    }

    .toggle{
        display: block;
    }

    nav{
        width:95%;
        background-color: #065e84;
        position: absolute;
        top:130px;
        left:8px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content:center;
        display: none;
        
    }

    nav li{
        margin-top:20px;
        margin-bottom: 20px;
        margin-left:20px;
    }
    nav a{
        font-size: 14px;
    }
  }


  @media only screen and (min-width: 600px) {
    .toggle{
        display: none;
    }
    .caption1{
        font-size: 16px;
    }

    nav a{
        font-size: 16px;
    }

  }
  

  @media only screen and (min-width: 768px) {
    .toggle{
        display: none;
    }
    .caption1{
        font-size: 22px;
    }
 
    nav a{
        font-size: 18px;
    }

  } 


  
@media only screen and (min-width: 992px) {
    .toggle{
        display: none;
    }
    .caption1{
        font-size: 24px;
    }

    nav a{
        font-size: 20px;
    }
  } 
  
  @media only screen and (min-width: 1200px) {
    .toggle{
        display: none;
    }
    .caption1{
        font-size: 24px;
    }

    nav a{
        font-size: 20px;
    }
  }


  /* tasks.html */

  .main2{
    width:100%;
    max-width: 100%;
    min-width: 50%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
}


.content2{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.content2_blocks{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}


.content2_block{
    width:22%;
    box-shadow: 2px 2px 3px #2a8ab4;
    border-radius: 10px;
    margin-top:30px;
    margin-bottom: 30px;
}


.content2_block>img{
    width:75%;
}

.content2_block:nth-child(3) img{
    width:85%;
}

.content2_block:nth-child(4) img{
    width:95%;
}

.content2_block:nth-child(6) img{
    width:82%;
}

.show_task{
    background-color: white;
    padding:5px;
    border:none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.show_task>a{
    color: #065e84;
    font-weight: bold;
    font-size: 16px;
}

.show_task:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .content2_blocks{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .content2_block{
        width:70%;
        height:auto;
        margin-top:30px;
    }
}



@media only screen and (min-width: 600px) {
    .content2_blocks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .content2_block{
        width:40%;
        height:auto;
        margin-top:30px;
    }

}


@media only screen and (min-width: 768px) {
    .content2_blocks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .content2_block{
        width:40%;
        height:auto;
        margin-top:30px;
    }

}


@media only screen and (min-width: 992px){
    .content2_blocks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .content2_block{
        width:22%;
        height:auto;
        margin-top:30px;
    }


}


@media only screen and (min-width: 1200px) {
    .content2_blocks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .content2_block{
        width:22%;
        height:auto;
        margin-top:30px;
    }
}

/* task1.html */

.game_container{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

.game_caption{
    width:100%;
    text-align: center;
}

.block_game1{
    width:100%;
    height:500px;
    display: flex;
    flex-direction: column;
}

.draggable_elements{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block_elem{
    width:15%;
    height:auto;
    border:1px solid darkblue;
}

.block_elem>img{
    width:100%;
}



.droppable_elements{
    width:100%;
    height:22%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.droppable{
    width:15%;
    height:auto;
    border:1px solid darkblue;
    text-align: center;
    font-weight: bold;
}

.droppable>img{
    width:100%;
}